
body {
  background: #222222;
  font-family: 'Abhaya Libre SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #F4F4F4;
  max-width: 390px;
  margin: 0 auto;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

h2 {
  font-family: 'Abhaya Libre SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

ul {
  list-style: none;
}

span.line {
  width: 5px;
  height: 40px;
  border-radius: 3px;
  margin-right: 14px;
  background: #A9A9A9;
}
